
<footer class="border-top footer text-muted">
    <div class="container-fluid">
        <div class="row mt-3">
            <div class="col-md-6 col-sm-12">

                <img src="~/img/eu-flag.png" />&nbsp;<img src="~/img/eu_pos_small.png" />
                <p class="col-12 text-wrap small">The APOLLO-Live tool has been developed within the framework of the EU Horizon 2020 PARIS REINFORCE and the EU LIFE JUSTEM projects. PARIS REINFORCE has received funding from the European Union’s Horizon 2020 Research and Innovation Programme under grant agreement No. 820846. JUSTEM is co-funded by the European Union under project ID 101076151. Views and opinions expressed are however those of the author(s) only and do not necessarily reflect those of the European Union or CINEA. Neither the European Union nor the granting authority can be held responsible for them.</p>
            </div>
            <div class="col-md-6 col-sm-12">
                <h3>Map</h3>
                <a asp-area="" asp-page="/Index">Home</a><br />
                <a asp-area="Guest" asp-page="/Index">Guest Account</a>
            </div>
        </div>

        <hr class="my-2">
        <div class="col-md-2 offset-10">
            <p title="1.0.1">&copy; 2023 - APOLLO-Live</p>
        </div>
    </div>
</footer>
