@model HeaderViewModel
<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark box-shadow mb-3 text-white">
        <div class="container">
            <a class="navbar-brand" asp-area="" asp-page="/Index">
            <img
              src="~/img/logo_decipher.png"
              alt="Logo Icon"
              style="height:50px;"
                />
                </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                <partial name="_LoginPartial" />

                <ul class="navbar-nav flex-grow-1">

                    @if (User.IsInRole(Topsis.Domain.Contracts.RoleNames.Moderator))
                    {
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="Moderator" asp-page="/Workspaces/Index">Workspaces</a>
                        </li>
                    }

                    @if (User.IsInRole(Topsis.Domain.Contracts.RoleNames.Stakeholder))
                    {
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="Guest" asp-page="/Index">Guest Account</a>
                        </li>
                    }

                    @if (User.IsInRole(Topsis.Domain.Contracts.RoleNames.Admin))
                    {
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="Admin" asp-page="/Index">Users</a>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </nav>
</header>