@page
@using Domain.Common
@model IndexModel
@{
    ViewData["Title"] = "Topsis";
}

<style>
    .jumbotron {
        margin-bottom: 0px;
    }
</style>

<div class="jumbotron">
    <div class="container">
        <h1 class="display-4">Welcome to APOLLO-Live</h1>
        <p class="lead">
            <span>
                APOLLO-Live is an online voting webtool, which brings together people from diverse backgrounds, to jointly decide as a group paths forward in energy and climate policy and express their needs and concerns. Rooted within the concept of energy democracy and participation, different viewpoints can be bridged through the tool, aiming to identify solutions and ideas of wide social acceptance. You can use one of our active poll sessions to engage with different stakeholders and participate in shaping the future of the transition.
            </span>
            <img class="img-fluid" src="~/img/welcome.jpg" />
        </p>
    </div>
</div>

@if(Model.Workspaces.Any())
{
    <div class="row">
        <div class="col-md-12">
            <h4>Open Voting Sessions</h4>

            <partial name="_WorkspacesPartial" model="Model.Workspaces" />
        </div>
    </div>
}

<h4>Read more about the tool and the projects supporting it</h4>
<div class="row mb-5">

    <div class="col-md-4 d-flex align-items-stretch">
        <div class="card mb-4 shadow-sm">

            <img src="~/img/apollo.png" />

            <div class="card-body d-flex flex-column justify-content-between">
                <div>
                    <h5 class="card-title">APOLLO</h5>
                    <p class="card-text">You may find more information about the methodological aspects of the tool in the following link.</p>
                </div>
                
                <div class="d-flex justify-content-between flex-row-reverse">
                    <div class="btn-group">
                        <a class="btn btn-sm btn-outline-info" href="https://doi.org/10.2991/ijcis.d.200924.002" target="_blank">Read More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-4 d-flex align-items-stretch">
        <div class="card mb-4 shadow-sm">
            <img src="~/img/paris-reinforce.png" />

            <div class="card-body d-flex flex-column justify-content-between">
                <div>
                    <h5 class="card-title">PARIS REINFORCE</h5>
                    <p class="card-text">PARIS REINFORCE is a Horizon 2020 EU-funded project aimed at effectively supporting the design of climate policies in a co-creative manner.</p>
                </div>
                
                <div class="d-flex justify-content-between flex-row-reverse">
                    <div class="btn-group">
                        <a class="btn btn-sm btn-outline-info" href="https://paris-reinforce.eu/" target="_blank">Read More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-4 d-flex align-items-stretch">
        <div class="card mb-4 shadow-sm">
            <img src="~/img/justem.png" />
            
            <div class="card-body d-flex flex-column justify-content-between">
                <div>
                    <h5 class="card-title">JUSTEM</h5>
                    <p class="card-text">JUSTEM, an EU-funded LIFE project aims to involve citizens in the process of the just transition and co-develop coal-depended regions’ energy and climate plans in the EU.</p>
                </div>

                <div class="d-flex justify-content-between flex-row-reverse">
                    <div class="btn-group">
                        <a class="btn btn-sm btn-outline-info" href="https://ieecp.org/projects/justem/" target="_blank">Read More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

