@page
@using Domain.Common
@model IndexModel
@{
    ViewData["Title"] = "Topsis";
}

<div class="row pt-md-5">
    <div class="col-md-8">
        <h2>Workspaces</h2>

        <partial name="_WorkspacesPartial" model="Model.Workspaces" />
    </div>
    

    @*<div class="col-md-3">
        <a class="twitter-timeline" data-height="700" href="https://twitter.com/ParisReinforce?ref_src=twsrc%5Etfw">Tweets by TwitterDev</a>
        <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    </div>*@
</div>

