@page
@model Topsis.Web.Areas.Moderator.Pages.Workspaces.ImportModel
@{
}

@section Css {

    <link href="~/lib/dropzone/dropzone.min.css" rel="stylesheet" />
}

<div class="row">
    <div class="col-md-6">
        <h3>Import Workspace</h3>
        @Html.ValidationDiv().AddClass("text-danger")
        <form asp-action="/add" class="dropzone" id="my-dropzone">
            @Html.AntiForgeryToken()
            <div class="dz-message">
                Drop survey file here or click to upload.
                <br> <span class="note">(*.xlsx files)</span>
            </div>
        </form>
    </div>
</div>

<div class="row mt-2">
    <div class="col-md-12">
        <p id="summary" class="text-danger"></p>
    </div>
</div>

@section Scripts {

    <partial name="_ValidationScriptsPartial" />
    <script src="~/lib/dropzone/dropzone.min.js"></script>

    <script type="text/javascript">
        let IsJsonString = function (str) {
            try {
                JSON.parse(str);
            } catch (e) {
                return false;
            }

            return true;
        }

        let buildSummary = function (response) {
            let error = response.error;
            if (IsJsonString(response) == false) {
                // drop zone error. transform it.
                error = JSON.stringify({ Title: response.error });
            }

            $('#summary').text(error);
        }

        Dropzone.options.myDropzone = { // camelized version of the `id`
            url: "@(this.Request.Path)",
            paramName: "file", // The name that will be used to transfer the file
            maxFilesize: @(Model.MaxFileMbLength), // MB
            uploadMultiple: false,
            acceptedFiles: ".xlsx",
            timeout: 300000, // timeout in ms
            params: {},
            success: function (file, response) {
                if (response.redirect) {
                    document.location = response.redirect;
                    return;
                }

                buildSummary(response);
            },
            error: function (file, response) {
                buildSummary(response);
            },
        };

        $(document).ready(function () {
            
        });
    </script>
}