@page
@model ForgotPasswordModel

@using Microsoft.Extensions.Options
@using Topsis.Web.Pages;
@inject IOptions<Topsis.Adapters.Encryption.RecaptchaSettings> Recaptcha

@{
    ViewData["Title"] = "Forgot your password?";
    var RecaptchaKey = Recaptcha.Value?.SiteKey;
}

@section HeadScripts {
    <script src="https://www.google.com/recaptcha/enterprise.js" async defer></script>
}

<h1>@ViewData["Title"]</h1>
<h4>Enter your email.</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post" class="no-ajax">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Input.Email"></label>
                <input asp-for="Input.Email" class="form-control" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="g-recaptcha" data-sitekey="@(RecaptchaKey)" data-action="@(RecaptchaActions.FORGOT_PASSWORD)"></div>
                <br />
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
