@page
@using Domain.Common

@model IndexModel
@{
}

@{ ViewData["Title"] = "Guest"; }

<h2>Your Anonymous Account</h2>
<hr />
<div class="row">
    <div class="col-md-12">
        <h4>Workspaces</h4>

        @if(Model.Workspaces.Any())
        {
            <partial name="_WorkspacesPartial" model="Model.Workspaces" />
        }
        else
        {
            <p>No workspaces found.</p>
        }
    </div>
</div>
